.hidden {
  display:none;
}
.total {
  color:green;
  text-align:center;
}
.center {
  text-align:center;
}
.redBackground {
  background-color: maroon;
}
.white {
  color:white;
  text-align:center;
}