.hidden {
  display: none;
}

.total {
  color: green;
  text-align: center;
}

.center {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.2);
  padding-top: 1px;

}

.redBackground {
  background-color: maroon;
}

.white {
  color: white;
  text-align: center;
}

.bodyDefault {
  background-image: url("../imgs/blurred.PNG");
  background-size: cover;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

.header {
  text-align: center;
  background-color: white;
}

.bodyWhite {
  background-color: white;
}